CALDIY_IMAGE=astforum/cal-diy:REPLACE_WITH_COMMIT
POSTGRES_PASSWORD=REPLACE_WITH_RANDOM_HEX
NEXTAUTH_SECRET=REPLACE_WITH_RANDOM_HEX
CALENDSO_ENCRYPTION_KEY=REPLACE_WITH_32_CHARACTER_KEY
NEXT_PUBLIC_VAPID_PUBLIC_KEY=REPLACE_WITH_VAPID_PUBLIC_KEY
VAPID_PRIVATE_KEY=REPLACE_WITH_VAPID_PRIVATE_KEY
CALDIY_SMTP_PASSWORD=REPLACE_WITH_NOTIFICATIONS_MAILBOX_HEX_PASSWORD
